<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A Question Has Posted!</h1>
    <p>A question has just posted.  Here it is: </p>
    <ul>
      <li><%= @question.title %>  </li>
      <li><%= @question.content %></li>
    </ul>

    </body>
</html>