/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
  margin: 0px;
  top: 0px;


}

.create_question_form {
  position: relative;
  bottom: 20px;
  padding: 7px;
  margin-top: 75px;
  margin-bottom: 30px;
  margin-left: 15px;
}


.show_questions {
  top: 5px;
  bottom: 5px;
  margin-bottom: 15px;
  padding-left: 15px;
  padding-bottom: 7px;
  margin: 15px;
}

header {
  text-align: center;
  height: 6em;
  width: 100%;
  top: 0px;
}
